.idea
debian/pci
debian/files
debian/*debhelper*
debian/*substvars*
doc/coverage
vendor
public/.pub
public/**/.packages
public/**/packages
public/**/build
public/client/main.dart.*
*.sql.gz
*.tgz
*~
/node_modules/
