doc/coverage/
vendor/
.buildpath
.project
.settings/
.idea
composer.lock
debian/pci/
debian/*.debhelper
debian/*.substvars
debian/*.debhelper.log
debian/files
public/client/main.dart.js
public/client/main.dart.js.deps
public/client/main.dart.js.map
public/client/precompiled.js
public/client/main.dart.precompiled.js
public/client/packages/*
public/client/.packages
*.sql.gz
*.tgz
*~
