<div id="JobResultList">
  <div id="functions" class="page-header">
    <h3>JobResults</h3>
    <form class="form-inline">
      <button id="build" class="btn btn-primary">New build</button>
    </form>
  </div>
  <div id="list">
      <table id="tabledata" class="table table-condensed">
        <thead>
          <tr>
            <th id="JobResult-uid" class="delete">&nbsp;</th>
            <th id="JobResult-build_id" class="edit col-sm-1">Build Id</th>
            <th id="jobname" class="col-sm-1">Job</th>
            <th id="user" class="col-sm-1">User</th>
            <th id="start" class="datetime col-sm-2">Start</th>
            <th id="stop" class="datetime col-sm-7">Stop</th>
           </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
</div>
