<div id="ProjectList">
  <div id="functions" class="page-header">
    <form class="form-inline">
      <button name="create" class="btn btn-primary">New project</button>
    </form>
  </div>
  <div id="list">
      <table id="tabledata" class="table table-condensed">
        <thead>
          <tr>
            <th id="Project-uid" class="delete">&nbsp;</th>
            <th id="Project-name" class="edit col-sm-2">Name</th>
            <th id="Project-start" class="datetime col-sm-2" >Start</th>
            <th id="Project-stop" class="datetime col-sm-2" >Stop</th>
            <th id="Project-duration" class="datetime col-sm-2" >Duration</th>
            <th id="Project-Job" class="children col-sm-1" >Jobs</th>
            <th id="Project-JobResult" class="children col-sm-1" >Builds</th>
            <th id="Project-build" class="col-sm-8" >Action</th>
           </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
</div>
