Source: pci
Section: unknown
Priority: extra
Maintainer: Søren Brønsted <sbr@ufds.dk>
Build-Depends: debhelper (>= 8.0.0), rsync
Standards-Version: 3.9.4

Package: pci
Architecture: all
Depends: ${misc:Depends},
 apache2, 
 mysql-server, 
 php,
 php-mysql,
 libapache2-mod-php,
Description: Php Continuious Integration
